body {
  margin: 0;
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-h {
  display:flex
}

.bold {
  font-weight: 700;
}

.chart_container {
  padding: 0 10px;
}

input, select {
  cursor: pointer;
}